*{
  box-sizing: border-box;
}
body{
  line-height: 1.4;
  font-family: Allerta, san-serif;
  background: #f2f2f2;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #DDDDDD;
  z-index: 10;
}
#navlist{
  height: 100%;
  width: 60%;
  display: flex;
  background: #FFFFFF;
  box-border: black;
  border-style: ridge;
  border-width: thick;
  border-radius: .5rem;
  border-color: black;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.navbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:  solid;
  font-size: 110%;
  height: 70%;
  padding: 0 1% 0 1%;
  width: 20%;
  box-sizing: border-box;
  text-align:center;

}
.navbutton:hover{
  background:#000000;
  }
.navbutton:hover a{
  color:#FFFFFF;
  }
@media only screen and (max-width: 1425px),(max-height: 350px){
  .navbutton{
    font-size: 90%;
  }
}
@media only screen and (max-width: 1170px),(max-height: 300px){
  .navbutton{
    font-size: 80%;
  }
}
@media only screen and (max-width: 1050px),(max-height: 270px){
  .navbutton{
    font-size: 70%;
  }
}
@media only screen and (max-width: 950px),(max-height: 250px){
  .navbutton{
    font-size: 60%;
  }
}
@media only screen and (max-width: 805px){
  .navbutton{
    font-size: 50%;
  }
}
@media only screen and (max-width: 545px){
  #welcome-section{
    font-size: 150%;
  }
}
@media screen and (orientation: portrait) {
  .navbar{
    height: 10vh;
    padding: .5rem 0 .5rem 0;
  }
  #projects{
    padding-top: 10vh;
  }
}
a{
  text-decoration: none;
  color: black;
}
.welcome-section{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 200%;
}
.projects-section{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25vh;
}
.projects-header{
  display: flex;
  border-bottom: solid;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  font-size: 200%;
  height:10%;
}
.projects-grid{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width:100%;
  height:90%;
  justify-items: center;
  align-content: top;
}

.project-tile{
  display: flex;
  border: solid .5rem #000000;
  border-radius: 10rem;
  text-align: center;
  width: 10rem;
  height: 10rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0);
  margin-top: .25rem;
}

.project-tile:hover{
  color: rgba(255,255,255,1);
  background-image: none;
}

#tribute-page{
  background-size: cover;
  background-position: center;
  background-image:    url("https://drive.google.com/uc?id=1Bl_XRq1c-GyaD7pn2M4FvUZBI_Nz4oLa");
}

#tribute-page:hover{
  background-size:cover;
  backgound-position: center;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url("https://drive.google.com/uc?id=1Bl_XRq1c-GyaD7pn2M4FvUZBI_Nz4oLa");
}

#babysitter-survey{
  background-image: url("https://drive.google.com/uc?id=1phEBweHMLo0CVtcZSPzBdvSKQ0DTeYeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#babysitter-survey:hover {
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url( "https://drive.google.com/uc?id=1phEBweHMLo0CVtcZSPzBdvSKQ0DTeYeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#disposable-cups-product-page{
  background-image: url( "https://drive.google.com/uc?id=1kV7iE6NaDVltIGHRZ56Iv3QwaleHABkO");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#disposable-cups-product-page:hover {
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url( "https://drive.google.com/uc?id=1kV7iE6NaDVltIGHRZ56Iv3QwaleHABkO");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#technical-page{
  background-image: url( "https://drive.google.com/uc?id=1PClSOZEAt4uoLKETyxoM7VqgwmVxIlUL");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#technical-page:hover {
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url( "https://drive.google.com/uc?id=1PClSOZEAt4uoLKETyxoM7VqgwmVxIlUL");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
